snippet pubf "public function"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet pubsf "public static function"
	public static function ${1}(${2}): $3
	{
		${0}
	}

snippet prof "protected function"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet prif "private function"
	private function ${1}(${2}): $3
	{
		${0}
	}
